<div class="container">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 18rem;">

      <div class="card border-light mb-3" *ngIf="student">
        <div class="card-body">
          <h4 class="card-title">{{student.attributes.name}}</h4>
        
         
          <div *ngIf="courses">
          <p>Courses: </p>
            <ul *ngFor="let course of courses">
                <li class="text-primary">{{course.attributes.name}}</li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>